---
import Social from "../ui/Social.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const {
  github,
  alias,
//  instagram,
  email,
//  youtube,
  linkedin,
  emailIconName,
  youtubeIconName,
  linkedinIconName,
  instagramIconName,
  githubIconName,
} = staticData.data;
---

<footer
  class="relative bottom-0 w-full px-4 py-8 font-medium text-blacktext dark:bg-transparent dark:border-b-2 dark:border-zinc-800 dark:text-zinc-300 max-lg:mt-3"
  role="contentinfo"
  aria-label="Pie del sitio"
>
  <nav
    class="mx-auto flex max-w-7xl flex-row items-center justify-between gap-4 text-xl max-xl:px-6 max-sm:flex-col"
    aria-label="Navegación del pie"
  >
    <div
      class="relative h-6 cursor-pointer before:absolute before:left-1/2 before:top-1/2 before:h-full before:w-[40%] before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-[#97b2de30] before:blur-3xl before:opacity-80 before:-z-1 hover:text-mint-500 transition-all [text-shadow:0_1px_2px_#000]"
    >
      <a href="/" aria-label="Volver al inicio">
        <!-- This icon represents the logo -->
        <Icon name="vs-logo" aria-hidden="true" />
      </a>
    </div>
    <div class="text-center">
      <a
        href={github}
        class="flex items-center justify-center gap-3 text-base font-normal italic max-sm:text-sm"
        aria-label="Información sobre el desarrollo del sitio"
        ><Icon name="code" aria-hidden="true" /> Desarrollado por <strong
          >{alias}</strong
        ></a
      >
    </div>
    <div
      class="flex items-center justify-center gap-5"
      role="group"
      aria-label="Enlaces a redes sociales"
    >
      <Social
        link={`mailto:${email}`}
        iconName={emailIconName}
        label={`Enviar correo a ${email}`}
      />
      <!-- <Social
        link={instagram}
        iconName={instagramIconName}
        label={`Visitar el Instagram de ${alias}`}
      />
      <Social
        link={youtube}
        iconName={youtubeIconName}
        label={`Visitar el canal de YouTube de ${alias}`}
      /> -->
      <Social
        link={github}
        iconName={githubIconName}
        label={`Visitar el GitHub de ${alias}`}
      />
      <Social
        link={linkedin}
        iconName={linkedinIconName}
        label={`Visitar el LinkedIn de ${alias}`}
      />
    </div>
  </nav>
</footer>
